body {
    margin: 0;
    height: 100%;
    background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.intro {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
}

.Basic_template {
    font-size: 1.3em;
    background-color: #000;
    border-radius: 15px;
    margin-left: 5%;
    margin-right: 5%;
}
.Basic_template_style0 {
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    text-align: center;
    padding: 10px;
}
.Basic_template_style1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
    text-align: center;
    padding: 20px;
}
.Basic_template_style1:hover{
    background-color: #fff;
    color: #000;
    border-radius: 15px;
    transition: 0.5s;
}
.github {
    font-family: 'Times New Roman', Times, serif;
    vertical-align: middle;
    margin-top: 10%;
    margin-right: 6%;
    margin-left: 6%;
}

.github1 {
    font-family: 'Courier New', Courier, monospace;
    color: #000;
}

#profile {
    border-radius: 70%;
    width: 64px;
    height: 64px;
}

.github_link_btn0 {
    background: #000;
    margin: 20px auto;
    width: 200px;
    height: 50px;
    overflow: hidden;
    text-align: center;
    transition: .2s;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .01);
}

.github_link_btn0_Two {
    position: relative;
    width: 200px;
    height: 100px;
    margin-top: -100px;
    padding-top: 2px;
    background: #A2E9FF;
    left: -250px;
    transition: .3s;
}

.github_link_btn0_Text {
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    transition: .3s;
}

.github_link_btn0_Text2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 63px;
    margin-right: -130px;
    color: #000;
}

.github_link_btn0:hover .github_link_btn0_Two {
    left: -130px;
}

.github_link_btn0:hover .github_link_btn0_Text {
    margin-left: 65px;
}

.github_link_btn0:active {
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.01);
}